<!DOCTYPE html>
<html>
<head>
    <title>Задачник 0.1</title>
    <script src="js/angular.min.js" type="application/javascript"></script>
    <script src="js/solver.js" type="application/javascript"></script>
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
        display: none !important;
    }
    </style>
</head>
<body data-ng-app="SolverApp" data-ng-controller="SolverCtrl" data-ng-init="initSolver()" ng-cloak>

<h1>Задачник</h1>

<div ng-repeat="task in tasks">
    <p>
    <div>Сколько будет {{task.x}} {{task.operator}} {{task.y}}?
        Ответ
        <input type="text" ng-model="task.result" ng-show="!task.score" ng-enter="verifyTasks()">
        <span>{{task.message}}</span>
    </div>
</div>
<br>
<input type="button"  value="Проверить" ng-click="verifyTasks()" ng-show="!tasks.allDone"> 
<div ng-show="tasks.allDone">
    <hr>
    <div>{{tasks.message}}</div>
    <input type="button"  value="Попробовать ещё!" ng-click="generateMoreTasks(0)" ng-show="tasks.errors"> 
    <input type="button"  value="Хочу ещё больше задач!" ng-click="generateMoreTasks(1)" ng-show="!tasks.errors"> 
</div>

</body>
</html>
