<!DOCTYPE html>
<html>
<head>
    <title>Задачник 0.1</title>
    <script src="js/angular.min.js" type="application/javascript"></script>
    <script src="js/solver.js" type="application/javascript"></script>
</head>
<body data-ng-app="SolverApp" data-ng-controller="SolverCtrl" data-ng-init="initSolver()" ng-cloak>

    <h1>Задачник</h1>

    <div ng-repeat="task in tasks">
        <p>
        <div>Сколько будет {{task.x}} {{task.operator}} {{task.y}}?</div>
        <div>Ответ
            <input type="text" ng-model="task.result">
            <input type="button"  value="Проверить" ng-click="verifyTask(task)" ng-show="!task.score"> 
            <span>{{task.message}}</span>
        </div>
    </div>
    </hr>
    <input type="button"  value="Ещё порешать побольше задач" ng-click="generateMoreTasks()" ng-show="tasks.allDone"> 
    
</body>
</html>
